<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <ul class="list-items">
            <li class="list-item">
                <div class="contain-text">
                    <span class="description">Ici c'est la description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores odit nemo iusto possimus eum molestias, et illum. Officiis accusamus excepturi, nulla odio exercitationem quos, nostrum facere hic molestiae, possimus nemo!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, ipsam officia provident impedit nesciunt ex mollitia dolores? Et ipsa aspernatur ducimus mollitia eos esse rerum cumque at vero. Excepturi, dolores!
                    </span>
                    <textarea name="texte1" id="text1" style="display: none;"></textarea>
                </div>
                <div class="contain-button">
                    <button class="button 1">button1</button>
                    <button class="button 2">button1</button>
                    <button class="button 3">button1</button>
                </div>
            </li>
            <li class="list-item">
                <div class="contain-text"><span class="description">Ici c'est la description</span><textarea name="texte2" id="text2" style="display: none;"></textarea></div>
                <div class="contain-button">
                    <button class="button 1">button1</button>
                    <button class="button 2">button1</button>
                    <button class="button 3">button1</button>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>